body{
  background-color: darkblue;
  height: 100vh;
}
#root{
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}
.Playground{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.RockPaperScissor{
  border: 10px solid black;
  border-radius: 50%;
  background-color: darkcyan;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RockPaperScissor:hover{
  background-color: darkgoldenrod;
  border: 10px solid yellow;
  border-radius: 50%;
  cursor: pointer;
  height: 200px;
  width: 200px;
}

.circle-image{
  display: flex;
  height: 150px;
}