body{
  background-color: darkblue;
  height: 100%;
}

.App {
  text-align: center;
}

.RockPaperScissor{
  border: 10px solid black;
  border-radius: 50%;
  background-color: darkcyan;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-image{
  display: flex;
  height: 150px;
}